{
  "extends": [
    "jnmorse"
  ],
  "rules": {
  },
  "overrides": [
    {
      "files": [
        "__tests__/*.js",
        "*.test.js",
        "*.spec.js",
        "loadshim.js"
      ],
      "env": {
        "jest": true
      },
      "rules": {
        "max-lines-per-function": "off"
      }
    },
    {
      "files": [
        "src/pages/*.js",
        "src/pages/*.jsx"
      ],
      "rules": {
        "import/no-relative-parent-imports": "off"
      }
    }
  ]
}